/*recommended for screen size width above 720px eg laptop*/
*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
}
@media screen and (min-width:720px){
    *{
        font-size: 12pt;
        font-family: Georgia;
    }
    html,body{
        padding: 0;
        margin: 0;
    }
    .header{
        width: 100%;
        height: auto;
        padding:10px;
        margin: 0;
        background-color: rgb(40, 40, 170);
        color: white; 
        display: flex;
        justify-content: space-between;
    
    }
    .container{
        position: relative;
        margin:0 auto;
        padding: 10px;
        top: 15px;
        width: 80%;
        background-color: white;
        color: grey;
        box-shadow: 4px 4px 45px 0px rgba(31, 29, 31,.2),4px 4px 45px 0px rgba(31, 29, 31,.2);
        border-radius: 8px;
        
    }
    .profile .profileImg>img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
    }
    .profile{
        display: flex;
        padding: 10px 0px 0px 10px;
    }
    .profile .profile-info{
        position: relative;
        left: 15px;
        top: -15px;
    }
     .container .message-container{
        width: 100%;
        height: 450px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: inset 0 32px 32px -32px rgba(123, 134, 123,.2),
                    inset 0 -32px 32px -32px rgba(123, 134, 123,.2);
     }
     .message-container::-webkit-scrollbar{
         width: 0;
     }
     .container .message-container .incoming-msg{
         width: 100%;
         display: flex;
         align-items: center;
         position: relative;
         float: left;
         margin: 10px 0px 10px 10px;
         margin-right: 300px;
     }
     .container .message-container .incoming-msg img{
         width: 40px;
         height: 40px;
         border-radius: 50%;
     }
     .container .message-container .incoming-msg p{
         position: relative;
         background-color: skyblue;
         color: black;
         left: 15px;
         word-wrap: break-word;
         padding: 12px;
         border-top-left-radius: 18px;
         border-top-right-radius: 18px;
         border-bottom-right-radius: 18px;
     }
     .container .message-container .outgoing-msg{
        display: block;
        position: relative;
        float: right;
        margin-left: 300px;
    }
    .container .message-container .outgoing-msg p{
        position: relative;
        background-color: whitesmoke;
        color: black;
        margin-left: 10px;
        margin-right: 20px;
        padding: 12px;
        word-wrap: break-word;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 18px;
    }
     .container .typing-area form{
         display: flex;
         border: 1px solid grey;
         border-bottom-left-radius: 8px;
         border-bottom-right-radius: 8px;
     }
     .container .typing-area input[type="text"]{
         width: 100%;
         height: 40px;
         background-color:whitesmoke;
         color: black;
         border-bottom-left-radius: 8px;
         padding-left: 8px;
     }
     .container .typing-area input[type="text"]:placeholder-shown{
         color: black;
         letter-spacing: 4px;
     }
     .container .typing-area input[type="text"]:focus{
         outline: none;
     }
     .container .typing-area input[type="file"],button{
         width: 10%;
     }
     .container .typing-area button{
        border-bottom-right-radius: 8px;
        background-color: rgb(68, 81, 255);
        color: white;
        font-weight: bold;
        border: none;
     }
     input[type="file"]{
         background-color: grey;
     }
}
/*recommended for screen size width below 720px above 480px eg tablet*/
@media screen and (max-width:720px){
    *{
        font-size: 100%;
        font-family: Georgia;
    }
    .header{
        width: 100%;
        height: auto;
        padding: 0px 10px;
        margin: 0;
        background-color: rgb(40, 40, 170);
        color: white; 
        display: flex;
        justify-content: space-between;
    
    }
    .container{
        position: relative;
        margin:0 auto;
        padding: 0;
        top: 0;
        width: 100%;
        background-color: white;
        color: grey;
        box-shadow: 4px 4px 45px 0px rgba(31, 29, 31,.2),4px 4px 45px 0px rgba(31, 29, 31,.2);
        border-radius: 8px;
        
    }
    .profile .profileImg>img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
    }
    .profile .profile-info h4{
        margin: 0;
        padding: 10px;
    }
    .profile .profile-info p{
        position: relative;
        margin: 0;
        padding: 4px;
        left: 10px;
        top: -10px;
    }
    .profile{
        display: flex;
        padding: 10px 0px 0px 10px;
    }
    .profile .profile-info{
        position: relative;
        left: 15px;
        top: -15px;
    }
     .container .message-container{
        width: 100%;
        height: 450px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: inset 0 32px 32px -32px rgba(123, 134, 123,.2),
                    inset 0 -32px 32px -32px rgba(123, 134, 123,.2);
     }
     .message-container::-webkit-scrollbar{
         width: 0;
     }
     .container .message-container .incoming-msg{
         width: auto;
         display: flex;
         align-items: center;
         position: relative;
         float: left;
         margin: 0px 0px 0px 10px;
         margin-right: 100px;
     }
     .container .message-container .incoming-msg img{
         width: 40px;
         height: 40px;
         border-radius: 50%;
     }
     .container .message-container .incoming-msg p{
         position: relative;
         background-color: skyblue;
         color: black;
         left: 15px;
         word-wrap: break-word;
         padding: 12px;
         border-top-left-radius: 18px;
         border-top-right-radius: 18px;
         border-bottom-right-radius: 18px;
     }
     .container .message-container .outgoing-msg{
        display: block;
        position: relative;
        float: right;
        margin-left: 100px;
    }
    .container .message-container .outgoing-msg p{
        position: relative;
        background-color: whitesmoke;
        color: black;
        margin-left: 10px;
        margin-right: 20px;
        padding: 12px;
        bottom: 0;
        word-wrap: break-word;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 18px;
    }
     .container .typing-area form{
         width: 100%;
         position: fixed;
         display: flex;
         padding: 10px 5px;
         background-color: rgb(250, 250, 250);
         border: 1px solid grey;
         border-bottom-left-radius: 8px;
         border-bottom-right-radius: 8px;
         bottom: 0px;
     }
     .container .typing-area input[type="text"]{
         width: 100%;
         padding: 8px;
         background-color:white;
         color: black;
         border-bottom-left-radius: 8px;
         border: none;
     }
     .container .typing-area input[type="text"]:placeholder-shown{
         color: black;
         letter-spacing: 4px;
     }
     .container .typing-area input[type="text"]:focus{
         outline: none;
     }
     .container .typing-area button{
        border-bottom-right-radius: 8px;
        background-color: rgb(68, 81, 255);
        color: rgb(248, 248, 250);
        font-weight: bold;
        border: none;
        padding: 8px;
     }
     input[type="file"]{
         background-color: grey;
     }
}
/*recommended for screen size width below 480px eg tablet*/
@media screen and (max-width:280px){
    *{
        font-size: 12pt;
        font-family: Georgia;
    }
    .header{
        width: 100%;
        height: auto;
        padding:0;
        margin: 0;
        background-color: black;
        color: white; 
        display: flex;
        justify-content: space-between;
    
    }
    .container{
        position: relative;
        margin:0 auto;
        padding: 0;
        top: 15px;
        width: 100%;
        background-color: white;
        color: grey;
        box-shadow: 4px 4px 45px 0px rgba(31, 29, 31,.2),4px 4px 45px 0px rgba(31, 29, 31,.2);
        border-radius: 8px;
        
    }
    .profile .profileImg>img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
    }
    .profile{
        display: flex;
        padding: 10px 0px 0px 10px;
    }
    .profile .profile-info{
        position: relative;
        left: 15px;
        top: -15px;
    }
     .container .message-container{
        width: 100%;
        height: 400px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: inset 0 32px 32px -32px rgba(123, 134, 123,.2),
                    inset 0 -32px 32px -32px rgba(123, 134, 123,.2);
     }
     .message-container::-webkit-scrollbar{
         width: 0;
     }
     .container .message-container .incoming-msg{
         width: auto;
         display: flex;
         align-items: center;
         position: relative;
         float: left;
         margin: 10px 0px 10px 10px;
         margin-right: 100px;
     }
     .container .message-container .incoming-msg img{
         width: 40px;
         height: 40px;
         border-radius: 50%;
     }
     .container .message-container .incoming-msg p{
         position: relative;
         background-color: skyblue;
         color: black;
         left: 15px;
         word-wrap: break-word;
         padding: 12px;
         border-top-left-radius: 18px;
         border-top-right-radius: 18px;
         border-bottom-right-radius: 18px;
     }
     .container .message-container .outgoing-msg{
        display: block;
        position: relative;
        float: right;
        margin-left: 100px;
    }
    .container .message-container .outgoing-msg p{
        position: relative;
        background-color: whitesmoke;
        color: black;
        margin-left: 10px;
        margin-right: 20px;
        padding: 12px;
        word-wrap: break-word;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 18px;
    }
     .container .typing-area form{
         display: flex;
         border: 1px solid grey;
         border-bottom-left-radius: 8px;
         border-bottom-right-radius: 8px;
     }
     .container .typing-area input[type="text"]{
         width: 80%;
         height: 40px;
         background-color:whitesmoke;
         color: black;
         border-bottom-left-radius: 8px;
         padding-left: 8px;
     }
     .container .typing-area input[type="text"]:placeholder-shown{
         color: black;
         letter-spacing: 4px;
     }
     .container .typing-area input[type="text"]:focus{
         outline: none;
     }
     .container .typing-area input[type="file"],button{
         width: 10%;
     }
     .container .typing-area button{
        border-bottom-right-radius: 8px;
        background-color: rgb(68, 81, 255);
        color: white;
        font-weight: bold;
        border: none;
     }
     input[type="file"]{
         background-color: grey;
     }
}