.header .menu .menu-btn>#bar1,#bar2,#bar3{
    width: 50px;
    height: 8px;
    background: white;
    margin: 4px;
    position: relative;
    left: 10px;
    bottom: -10px;
    border-radius: 10px;
    box-shadow: 12px 24px 24px 12px rgba(38, 38, 39, 0.02),12px 24px 24px 12px rgba(38, 38, 39, 0.02);
    transition: 0.4s;
}
.menu-content{
    position: absolute;
    z-index: 1;
    display: none;
    right: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 24px 24px 12px rgba(38, 38, 39, 0.2),12px 24px 24px 12px rgba(38, 38, 39, 0.2);
    transition: 2s;
}
.menu-content a{
    padding-bottom: 12px;
    display: block;
    color: blue;
    padding: 4px;
}
.menu-content a:hover{
    background-color: blue;
    color: white;
    border-bottom: 1px solid grey;
    text-align: center;
    transition: 0.5s;
    font-weight: bold;
}
.menu-content .closebtn:hover{
    background-color: transparent;
    color: red;
    border: none;
}
.menu .menu-btn{
    display: inline-block;
    cursor: pointer;

}
.menu-content .closebtn{
    
    display: block;
    position: absolute;
    color: black;
    right: 10px;
    top:0;
    margin-bottom: 30px;
    float: right;
    font-size: 30px;
}
#icon{
    position: relative;
    top: 15px;
    padding-right: 5px;
}
#icon:link{
    color: white;
}
#icon:visited{
    color: white;
}
#icon:hover{
    color: white;
}
i{
    width: 40px;
}
a{
    text-decoration: none;
}