@media screen and (min-width:720px){
    body{
        background-color: whitesmoke;
    }
    .container{
        background-color: whitesmoke;
    } 
    .form1{
        position: relative;
        margin:0 auto;
        padding: 10px;
        top: -80px;
        width: 50%;
        background-color: white;
        color: grey;
        box-shadow: 4px 4px 45px 0px rgba(31, 29, 31,.2),4px 4px 45px 0px rgba(31, 29, 31,.2);
        border-radius: 8px;
        
    }
    form .logo{
        text-align: center;
        background-color: transparent;
    }
    form img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    form .personal-info{
        position: relative;
        width: 95%;
        margin: 6px;
    }
    form .personal-info input{
        width: 100%;
        height: 40px;
        border:1px solid grey; 
        border-radius: 8px;
        box-sizing: border-box;
        padding-left: 10px; 
    }
    form >.name{
        margin: 0;
        padding: 0;
        display: flex;
        width: auto;
    }
    form >.contact{
        margin: 0;
        padding: 0;
        display: flex;
        width: auto;
    }
    form >.password{
        margin: 0;
        padding: 0;
        display: flex;
        width: auto;
    }
    form .submit input{
        width: 100%;
        height: 40px;
        background-color: blue;
        color: white;
        font-weight: bold;
        border:none;
        border-radius: 8px; 
    }
    form a{
        color: blue;
        padding: 10px;
    }
    form .personal-info{
        position: relative;
    }
    form .personal-info>input:focus{
        outline: none;
        border:1px solid rgb(69, 247, 69);
    }
    form .personal-info>input:invalid{
        color:red;
    }
    .personal-info .fa-eye{
        position: absolute;
        right: 0;
        top: 41px;
        cursor: pointer;
    }
    .personal-info .fa-eye.active::before{
        color:black;
        content: "\f070";
    }
    .security{
        text-align: center;
        color: black; 
    }
    .security h4{
        margin: 0;
        padding: 0;
        color: rgb(252, 70, 15);   
    }
    .security h4>strong{
        font-size: 24pt;
        color: rgb(71, 180, 21);
    }
    .security h4>b{
        font-size: 18pt;
        color: steelblue;
    }
    .support .cancel{
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        position: relative;
        left: 570px;
        border-radius: 8px;
        background-color:rgb(248, 63, 63);
    
    }
}

@media screen and (max-width:720px){
    .form1{
        position: relative;
        margin:0 auto;
        padding: 0;
        top: -80px;
        width: 100%;
        background-color: whitesmoke;
        color: grey;
        box-shadow: 4px 4px 45px 0px rgba(31, 29, 31,.2),4px 4px 45px 0px rgba(31, 29, 31,.2);
        border-radius: 8px;
        
    }
    form .logo{
        text-align: center;
        background-color: transparent;
    }
    form img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    form .personal-info{
        position: relative;
        width: 95%;
        margin: 6px;
    }
    form .personal-info input{
        width: 100%;
        height: 40px;
        border:1px solid grey; 
        border-radius: 8px;
        box-sizing: border-box;
        padding-left: 10px; 
    }
    form >.name{
        margin: 0;
        padding: 0;
        display: block;
        width: auto;
    }
    form >.contact{
        margin: 0;
        padding: 0;
        display: block;
        width: auto;
    }
    form >.password{
        margin: 0;
        padding: 0;
        display: block;
        width: auto;
    }
    form .submit input{
        width: 100%;
        height: 40px;
        background-color: blue;
        color: white;
        font-weight: bold;
        border:none;
        border-radius: 8px; 
    }
    form a{
        color: blue;
        padding: 10px;
    }
    form .personal-info{
        position: relative;
    }
    form .personal-info>input:focus{
        outline: none;
        border:1px solid rgb(69, 247, 69);
    }
    form .personal-info>input:invalid{
        color:red;
    }
    .personal-info .fa-eye{
        position: absolute;
        right: 0;
        top: 41px;
        cursor: pointer;
    }
    .personal-info .fa-eye.active::before{
        color:black;
        content: "\f070";
    }
    .security{
        text-align: center;
        color: black; 
    }
    .security h4{
        margin: 0;
        padding: 0;
        color: rgb(252, 70, 15);   
    }
    .security h4>strong{
        font-size: 24pt;
        color: rgb(71, 180, 21);
    }
    .security h4>b{
        font-size: 18pt;
        color: steelblue;
    }
    .support .cancel{
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        position: relative;
        left: 570px;
        border-radius: 8px;
        background-color:rgb(248, 63, 63);
    
    }
}