@media screen and (min-width:720px){
    *{
        font-size: 12pt;
        font-family: Georgia;
    }
    body{
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
    }
    .container{
        padding: 10px;
        margin-top: 90px;
    }
    .container div{
        margin-top: 6px;
        padding: 10px;
        background-color: transparent;
    }
    .header{
        width: 100%;
        margin-bottom: 12px;
        z-index: 100;
        display: flex;
        position: fixed;
        top: 0;
        padding: 16px;
        background-color: blue;
        justify-content: space-between;
    }
    .header .title{
        display: flex;
        position: relative;
        color: white;
    }
    .header .title img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .header .title>h2{
        position: relative;
        left: 15px;
        font-size: 18pt;
    }
    .container .profile{
        margin-top: 6px;
        display: flex;
    }
    .container .profile .profileImg>img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .container .profile .profile-info{
        position: relative;
        left: 15px;
    }
    .container .search-bar{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .container .search-bar .search-text{
        text-align: center;
        font-weight: bold;
        padding: 0;
    }
    .container .search-bar .show-search>form{
        display: none;
        transition: 2s;
    }
    .container .search-bar form>input[type="search"]{
        width: 100%;
        height: 40px;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-bottom-left-radius: 15px;
    }
    .container .search-bar form>input[type="search"]:focus{
        outline: none;
        border:1px solid rgb(69, 247, 69);
    }
    .container .search-bar form>button{
        position: relative;
        float: left;
        width: 100px;
        border-top-right-radius: 15px;
        background-color: blue;
        color: white;
        font-weight: bold;
        border: none;
    }
    .container .search-bar form>button:focus{
        outline:none;
    }
    .container .groups-list>h2,.friends-list>h2{
        background-color: skyblue;
        padding: 4px;
    
    }
    .container .groups-list>h2 span,.friends-list>h2 span{
        padding: 3px;
        color:blue;
        background-color: white;
        border-radius: 50%;
        
    }
    .container .friend-info{
        display: flex;
        border-bottom: 1px solid grey;
    }
    .container .friend-info img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .container .friend-info .info{
        position: relative;
        padding-top: 0;
        margin-top: 0;
        left: 30px;
        width: 100%;
    }
    .container .friend-info span{
        position: relative;
        float: right;
        
    }
    .container .friend-info .info p{
        position: relative;
        left: 15px;
        color: grey;
    }
    .container .groups-list .group-info{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .container .groups-list .group-info h4{
        margin: 0;
        padding: 4px;
    }
    .container .groups-list .group-info span{
        background: green;
        color: white;
        font-weight: 600;
        padding: 4px;
        border-radius: 10px;
    }
    .container .friends-list .status span:last-child{
        width: 20px;
        height: 20px;
        background: green;
        color: white;
        font-weight: 600;
        padding: 4px;
        border-radius: 50%;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: blue;
    }
    .change{
        display: block;
    }
    
    i{
        width: 40px;
    }
    .info >a{
        display: flex;
    }
    
    .info a >h4{
        margin: 0;
        padding: 0;
    }
    .info a >.fa-circle{
         color: grey;
         padding-left: 15px;
    
    }
}
@media screen and (max-width:720px){
    *{
        font-size: 12pt;
        font-family: Georgia;
    }
    body{
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
    }
    .container{
        padding: 10px;
        margin-top: 90px;
    }
    .container div{
        margin-top: 6px;
        padding: 10px;
        background-color: transparent;
    }
    .header{
        width: 100%;
        margin-bottom: 12px;
        z-index: 100;
        display: flex;
        position: fixed;
        top: 0;
        padding: 16px;
        background-color: blue;
        justify-content: space-between;
    }
    .header .title{
        display: flex;
        position: relative;
        color: white;
    }
    .header .title img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .header .title>h2{
        position: relative;
        left: 15px;
        font-size: 18pt;
    }
    .container .profile{
        margin-top: 6px;
        display: flex;
    }
    .container .profile .profileImg>img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .container .profile .profile-info{
        position: relative;
        left: 15px;
    }
    .container .search-bar{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .container .search-bar .search-text{
        text-align: center;
        font-weight: bold;
        padding: 0;
    }
    .container .search-bar .show-search>form{
        display: none;
        transition: 2s;
    }
    .container .search-bar form>input[type="search"]{
        width: 100%;
        height: 40px;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-bottom-left-radius: 15px;
    }
    .container .search-bar form>input[type="search"]:focus{
        outline: none;
        border:1px solid rgb(69, 247, 69);
    }
    .container .search-bar form>button{
        position: relative;
        float: left;
        width: 100px;
        border-top-right-radius: 15px;
        background-color: blue;
        color: white;
        font-weight: bold;
        border: none;
    }
    .container .search-bar form>button:focus{
        outline:none;
    }
    .container .groups-list>h2,.friends-list>h2{
        background-color: skyblue;
        padding: 4px;
    
    }
    .container .groups-list>h2 span,.friends-list>h2 span{
        padding: 3px;
        color:blue;
        background-color: white;
        border-radius: 50%;
        
    }
    .container .friend-info{
        display: flex;
        border-bottom: 1px solid grey;
    }
    .container .friend-info img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .container .friend-info .info{
        position: relative;
        padding-top: 0;
        margin-top: 0;
        left: 30px;
        width: 100%;
    }
    .container .friend-info span{
        position: relative;
        float: right;
        
    }
    .container .friend-info .info p{
        position: relative;
        left: 15px;
        color: grey;
    }
    .container .groups-list .group-info{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .container .groups-list .group-info h4{
        margin: 0;
        padding: 4px;
    }
    .container .groups-list .group-info span{
        background: green;
        color: white;
        font-weight: 600;
        padding: 4px;
        border-radius: 10px;
    }
    .container .friends-list .status span:last-child{
        width: 20px;
        height: 20px;
        background: green;
        color: white;
        font-weight: 600;
        padding: 4px;
        border-radius: 50%;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: blue;
    }
    .change{
        display: block;
    }
    
    i{
        width: 40px;
    }
    .info >a{
        display: flex;
    }
    
    .info a >h4{
        margin: 0;
        padding: 0;
    }
    .info a >.fa-circle{
         color: grey;
         padding-left: 15px;
    
    }
}